<h2 style="margin: 0px;">
    {{ticket.title}}
</h2>

<p style="margin-top: 5px;">
    Nome de registro: {{ticket.name_issuer}} <br/>
    Email: {{ticket.email_issuer}} <br/>
    Nome do responsável: {{ticket.name_responder}}<br/>
    Email do responsável: {{ticket.email_responder}} <br/>
    Decrição: {{ticket.description}} <br/>
    Data de abertura: {{ticket.open_date}} <br/>
    Status: {{ticket.status}}
</p>



