<div>
    <form [formGroup]="formSearch">
        <select formControlName="searchType">
            <option value="1">Por Nome de registro</option>
            <option value="2">Por Nome do responsável</option>
        </select>
        &nbsp;
        <input type="text" size="45" formControlName="searchText"/>
        &nbsp;
        <input type="button" value="Pesquisar" [disabled]="formSearch.invalid" (click)="search()" />
        &nbsp;
        <input type="button" value="Limpar" (click)="clearSearch()"/>
    </form>
</div>

<br />
<table style="width: 90%;" border="1">
    <thead>
        <tr>
            <th style="width: 20%;">Nome registro</th>
            <th style="width: 20%;">Email registro</th>
            <th style="width: 20%;">Nome responsável</th>
            <th style="width: 20%;">Email responsável</th>
            <th style="width: 20%;">Título</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tickets">
            <td>
            <a [routerLink] = "['/details-ticket', t.name_issuer]">{{ t.name_issuer}}</a>
            </td>
            <td>{{ t.email_issuer}}</td>
            <td>{{ t.name_responder}}</td>
            <td>{{ t.email_responder}}</td>
            <td>{{ t.title}}</td>
        </tr>
    </tbody>
</table>