<div>
    <h1>
        Tickets
    </h1>
    <a routerLink="list-ticket">Home</a>&nbsp;&nbsp;
    <a routerLink="register-ticket">Criar Chamado</a>
</div>

<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>