<h2>
    Abra um chamado:
</h2>

<form [formGroup]="formTicket">

    Nome de registro: <br />
    <input type="text" size="50" formControlName="name_issuer"/>
    <div *ngIf="name_issuer.touched && name_issuer.errors?.required" class="error-message">
        Informe o nome de registro!
    </div>
    <br /><br />

    E-mail de registro: <br />
    <input type="text" size="40" formControlName="email_issuer" />
    <div *ngIf="email_issuer.touched && email_issuer.errors?.required" class="error-message">
        Informe o e-mail de registro!
    </div>
    <div class = "error-message" *ngIf="formTicket.controls.email_issuer.errors?.email">
        E-mail inválido
      </div>
    <br /><br />

    Nome do responsável pelo chamado: <br />
    <input type="text" size="30" formControlName="name_responder" />
    <div *ngIf="name_responder.touched && name_responder.errors?.required" class="error-message">
        Informe o nome do responsável pelo chamado!
    </div>
    <br /><br />

    E-mail do responsável pelo registro: <br />
    <input type="text" size="30" formControlName="email_responder" />
    <div *ngIf="email_responder.touched && email_responder.errors?.required" class="error-message">
        Informe o e-mail do responsável pelo chamado!
    </div>
    <div class = "error-message" *ngIf="formTicket.controls.email_responder.errors?.email">
        E-mail inválido
      </div>
   
    <br /><br />

    Título: <br />
    <input type="text" formControlName="title" />
    <div *ngIf="title.touched && title.errors?.required" class="error-message">
        Informe o Título do chamado!
    </div>
    <br /><br />

    Descrição: <br />
    <textarea cols="40" rows="5" formControlName="description"></textarea>
    <div *ngIf="description.touched && description.errors?.required" class="error-message">
        Informe a descrição do chamado!
    </div>
    <br /><br />


    <input type="button" value="Salvar" [disabled]="formTicket.invalid" (click)="save()">
    &nbsp;&nbsp;
    <input type="button" value="Cancelar" (click)="cancel()">
</form>